@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900');

@font-face {
	font-family: 'Montserrat';
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 300;
	font-style: normal;
}
