.about
  position: relative
  display: flex
  width: 900px
  max-width: 75%
  height: 100%
  flex-direction: column
  justify-content: center
  margin: 0 auto

  @media (max-width: 1180px)
    max-width: 100%

  &--banner
    position: relative
    height: 475px

    h2
      position: relative
      margin-top: 35px
      font-size: 50px
      font-weight: 700
      line-height: 1
      z-index: 1

    p
      font-size: 16px
      margin: 0 0 20px 0
      color: $white

    a
      padding: 5px 17px 5px 0
      text-decoration: none
      color: $white
      font-weight: 700
      text-transform: uppercase
      background-color: transparent

      &:hover
        color: $green
        svg
          left: 10px
          fill: $green

      svg
        position: relative
        left: 5px
        width: 15px
        fill: $white
        transition: left .2s ease-in-out

    img
      position: absolute
      top: 30px
      right: -50px

  &--options
    display: flex
    max-width: 450px
    justify-content: space-between
    margin: 0
    padding: 0
    list-style: none

    & > a
      position: relative
      width: 150px
      height: 75px
      text-decoration: none
      color: $white
      position: center
      size: cover
      repeat: no-repeat

@media (max-width: 767px)

  .about

    &--banner
      height: 305px

      &::before
        top: 0
        left: 125px

      &::after
        top: 35px
        left: 260px

      h2
        margin-top: 10px
        font-size: 44px

        &::before
          top: 28px
          left: 168px

        &::after
          top: 163px
          left: 163px

      img
        width: 315px

@media (max-width: 600px)

  .about

    &--banner
      height: auto

      &::before
        left: 155px

      &::after
        left: 310px

      h2
        margin-top: 0
        font-size: 55px

        &::before
          top: 43px
          left: 214px

        &::after
          top: 205px
          left: 205px

      img
        display: none

    &--options
      display: none
