.hire
  position: relative
  display: flex
  width: 700px
  max-width: 75%
  height: 100%
  flex-direction: column
  justify-content: center
  margin: 0 auto
  background:
    image: url("../img/hire.png")
    position: center
    repeat: no-repeat

  @media (max-width: 1180px)
    max-width: 100%

  h2
    margin: 0 0 20px 0
    font-size: 50px
    text-align: center

  p
    font-size: 16px
    margin: 0 0 20px 0
    color: $white
    text-align: center
    background: $black

.work-request
  display: flex
  width: 100%
  flex-direction: column
  align-items: center

  a
    width: 400px
    max-width: 100%
    line-height: 50px
    font-size: 16px
    font-weight: 700
    text-transform: uppercase
    text-align: center
    color: $white
    text-decoration: none
    background: $blue
    background: -webkit-linear-gradient(to right, $green, $blue)
    background: linear-gradient(to right, $green, $blue)
    border: none
    border-radius: 0

    &:hover
      outline: none
      width: 420px
      transition: .2s ease-in-out

    &:visited
      color: $white
      text-decoration: none

.partners
  display: flex
  width: 100%
  flex-direction: row
  justify-content: center
  align-items: center
  background: $black
  margin: 20px 0 0 0

  img
    height: 100px

  p
    margin: 0 10px 0 0

@media (max-width: 767px)

  .work-request

    &--options
      flex-direction: row
      justify-content: space-around

      .options-a,
      .options-b
        display: block
        width: auto

@media (max-width: 600px)

  .work-request

    &--options
      margin: 20px 0

      @media (max-width: 415px)
        justify-content: space-between

      label
        width: 150px
        margin-bottom: 15px
        font-size: 14px

      input[type="checkbox"]

        &:checked + label

          & svg
            width: 12px

    &--information
      margin-bottom: 30px

      .information-name,
      .information-email
        height: 40px
        font-size: 24px
